
/* css for everything on the page */

#content {
    margin: 5% auto;
    max-width: 650px;
    font-size: 20px;
    line-height: 1.6;
    padding: 5%;
    border: 1px solid black;
}

/* css for header section */
header {
    text-align: center;
    letter-spacing: 3px;
}
header h1 {
    margin-bottom: 10px;
}
header p {
    margin: 0 0 0 0;
    color: #035f9c;
}
hr {
    margin-top: 0;
    background-color: darkgrey;
    
}

/* css for the list and small paragraph section */
main {
    padding-top: 40px;
}
.header-list {
    font-style: italic;
    margin: 40px 0px;
}
li {
    list-style-type: decimal;
    margin: 15px 0px;
}

/* css for the logo image / footer */
.logo {
    display: block;
    margin: 0px auto;
    width: 25%;
}